{% extends 'base.html' %}
{% block title %}
    Categories
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
<h1>Add Category</h1>
<div class ="form-group">
    <table>
        <form method="POST">
        {% csrf_token %}
        {{ form.as_table }}
            <button class="btn btn-secondary">Add</button>
        </form>

    </table>
    </div>
<hr>
<br/>
        {% else %}
        You must Register to Add a Post!
    {% endif %}
<a href="{% url 'post_list' %}">Back</a>
{% endblock %}