{% extends 'base.html' %}
{% block content %}
    {% if category_posts%}
<h1>{{ cats}} - Posts:</h1>
<ul>

    {% for post in category_posts %}
    <li><a href="{% url 'post_detail' post.pk %}">{{ post.title }} </a> </br>
        {{ post.author }} </br>
        {{ post.content|slice:":50"|safe }} </br>
        <small> {{ post.category }} </small> </br>
        {% if user.is_authenticated %}
        <small> <a href="{% url 'update_post' post.pk %}">Edit</a> </small>
        <small> <a href="{% url 'delete_post' post.pk %}">Delete</a> </small>
        {% endif %}
    </li>
{% endfor %}
</ul>
    {% else %}
        This Category Doesn't Exist - Please Add <a href="{% url 'add_category' %}">Category</a></a>
    {% endif %}
{% endblock %}



